 @model BuayaManagement.Models.TblDocumentRequest

@{
    ViewData["Title"] = "Indigency";
}


<h1>INDIGENCY!!!</h1>


<div>
    <a asp-action="" input id="print" type="button" value="Print" onclick="window.print();" class="btn btn-primary" >Print</a> 
    <a asp-action="Index" class="btn btn-danger">Cancel</a>
</div>


